@font-face {
  font-family: "iconfont"; /* Project id 3242007 */
  src: url('iconfont.woff2?t=1668735546442') format('woff2'),
       url('iconfont.woff?t=1668735546442') format('woff'),
       url('iconfont.ttf?t=1668735546442') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-pencil-fill:before {
  content: "\e672";
}

.icon-quill-pen-fill:before {
  content: "\e63c";
}

.icon-loading:before {
  content: "\e663";
}

.icon-comments:before {
  content: "\e7b4";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-rmb:before {
  content: "\e705";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-play-fill:before {
  content: "\e72f";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-stop-fill:before {
  content: "\e738";
}

.icon-add-account:before {
  content: "\e741";
}

.icon-add:before {
  content: "\e742";
}

.icon-add-cart:before {
  content: "\e743";
}

.icon-arrow-right:before {
  content: "\e744";
}

.icon-arrow-left:before {
  content: "\e745";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-ashbin:before {
  content: "\e747";
}

.icon-atm:before {
  content: "\e748";
}

.icon-bad:before {
  content: "\e749";
}

.icon-attachent:before {
  content: "\e74a";
}

.icon-browse:before {
  content: "\e74b";
}

.icon-atm-away:before {
  content: "\e74c";
}

.icon-assessed-badge:before {
  content: "\e74d";
}

.icon-calendar:before {
  content: "\e74e";
}

.icon-cart-full:before {
  content: "\e74f";
}

.icon-calculator:before {
  content: "\e750";
}

.icon-category:before {
  content: "\e751";
}

.icon-close:before {
  content: "\e752";
}

.icon-cry:before {
  content: "\e753";
}

.icon-double-arro-right:before {
  content: "\e754";
}

.icon-discount:before {
  content: "\e755";
}

.icon-download:before {
  content: "\e756";
}

.icon-ellipsis:before {
  content: "\e757";
}

.icon-email:before {
  content: "\e758";
}

.icon-falling:before {
  content: "\e759";
}

.icon-help:before {
  content: "\e75a";
}

.icon-good:before {
  content: "\e75b";
}

.icon-hot:before {
  content: "\e75c";
}

.icon-pin:before {
  content: "\e75d";
}

.icon-smile:before {
  content: "\e766";
}

.icon-set:before {
  content: "\e76c";
}

.icon-usercenter:before {
  content: "\e773";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-bussiness-man:before {
  content: "\e6ef";
}

.icon-component:before {
  content: "\e6f2";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-data:before {
  content: "\e6f9";
}

.icon-gift:before {
  content: "\e6fa";
}

.icon-integral:before {
  content: "\e6fb";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-play:before {
  content: "\e701";
}

